MovieWiki/Service References/MovieWikiServiceReference/MovieWikiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieWikiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50355/MovieWikiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50355/MovieWikiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50355/MovieWikiService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieWikiService_InsertWikiArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWikiArticle" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_InsertWikiArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWikiArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_InsertWikiArticleEditHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWikiArticleEditHistory" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_InsertWikiArticleEditHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWikiArticleEditHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_InsertUserAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAccount" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_InsertUserAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_UpdateWikiArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWikiArticle" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_UpdateWikiArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWikiArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_DeleteWikiArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWikiArticle" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_DeleteWikiArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWikiArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_GetAllWikiArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWikiArticles" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_GetAllWikiArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWikiArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_GetAllWikiArticleEditHistories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWikiArticleEditHistories" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_GetAllWikiArticleEditHistories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWikiArticleEditHistoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_GetAllUserAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserAccounts" />
  </wsdl:message>
  <wsdl:message name="IMovieWikiService_GetAllUserAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieWikiService">
    <wsdl:operation name="InsertWikiArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/InsertWikiArticle" message="tns:IMovieWikiService_InsertWikiArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/InsertWikiArticleResponse" message="tns:IMovieWikiService_InsertWikiArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertWikiArticleEditHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/InsertWikiArticleEditHistory" message="tns:IMovieWikiService_InsertWikiArticleEditHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/InsertWikiArticleEditHistoryResponse" message="tns:IMovieWikiService_InsertWikiArticleEditHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/InsertUserAccount" message="tns:IMovieWikiService_InsertUserAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/InsertUserAccountResponse" message="tns:IMovieWikiService_InsertUserAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWikiArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/UpdateWikiArticle" message="tns:IMovieWikiService_UpdateWikiArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/UpdateWikiArticleResponse" message="tns:IMovieWikiService_UpdateWikiArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWikiArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/DeleteWikiArticle" message="tns:IMovieWikiService_DeleteWikiArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/DeleteWikiArticleResponse" message="tns:IMovieWikiService_DeleteWikiArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWikiArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/GetAllWikiArticles" message="tns:IMovieWikiService_GetAllWikiArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/GetAllWikiArticlesResponse" message="tns:IMovieWikiService_GetAllWikiArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWikiArticleEditHistories">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/GetAllWikiArticleEditHistories" message="tns:IMovieWikiService_GetAllWikiArticleEditHistories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/GetAllWikiArticleEditHistoriesResponse" message="tns:IMovieWikiService_GetAllWikiArticleEditHistories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieWikiService/GetAllUserAccounts" message="tns:IMovieWikiService_GetAllUserAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieWikiService/GetAllUserAccountsResponse" message="tns:IMovieWikiService_GetAllUserAccounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieWikiService" type="tns:IMovieWikiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertWikiArticle">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/InsertWikiArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWikiArticleEditHistory">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/InsertWikiArticleEditHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserAccount">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/InsertUserAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWikiArticle">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/UpdateWikiArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWikiArticle">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/DeleteWikiArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWikiArticles">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/GetAllWikiArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWikiArticleEditHistories">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/GetAllWikiArticleEditHistories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserAccounts">
      <soap:operation soapAction="http://tempuri.org/IMovieWikiService/GetAllUserAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieWikiService">
    <wsdl:port name="BasicHttpBinding_IMovieWikiService" binding="tns:BasicHttpBinding_IMovieWikiService">
      <soap:address location="http://localhost:50355/MovieWikiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>